@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    color: #303030;
}


/*Heading and Logo*/

h1, h2, h3 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #48502f;

}

#logo {
    font-size: 2.8rem;
    margin-left: 20px;
}

header a {
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin: 0 20px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

/* Rule for the right most list item so that the menu doesn't fall down to a second row on smaller screens*/
#menu .no-margin {
    margin: 0;
}

#menu a {
    text-decoration: none;
    color: #48502f;
}

#menu a:hover {
    border-top: 1px solid #48502f;
    border-bottom: 1px solid  #48502f;
}

.active {
    border-top: 1px solid  #48502f;
    border-bottom: 1px solid  #48502f;
}


/* Hero image */

#hero-image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-2.webp) no-repeat center center;
    object-fit: cover;
    margin-top: 10px;

}

/*styling classes*/

.white-text {
    color: white;
}

.green-background {
    background-color: #48502f;
}

.center-text {
    text-align: center;
}

/* About section */

#about {
    margin: 0 15px;
    padding: 0 20px 20px 20px;
}
#book-wrapper {
width: 90%;
}

#about img {
    width: 100%;
    margin: 10px 5%;
}

.about-headings {
    text-align: center;
    padding: 10px;
}

#about p {
    margin: 0 5%;
    text-align: center;
    line-height: 20px;
}

/* Meet up */

#meet-up, h2 {
    margin-top: 20px;
}

.genre {
    margin: 10px;
    padding: 20px
}


/* footer */

footer {
    height: 150px;
    background-color: #48502f;
}

#social-media {
    text-align: center;
}

#social-media > li {
    display: inline;
}

#social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

/* Books page */

#table-of-contents {
    margin: 20px 0 10px 0;
}

#table-of-contents a {
    text-decoration: none;
    color: white;
    margin-right: 7px;
    
}

#table-of-contents li {
    display: inline;
}

#table-of-contents a:hover {
    color: #48502f;
    background-color: white;
}

#books-information {
    clear: both;
    margin-top: 40px;
    padding: 10px 30px 30px 20px;
}

/* Generall rule for paragraphs to match first page*/
p {
    line-height: 20px;
}

.about-book{
    width: 90%;
    margin: 30px auto;
}

.about-book span {
    font-style: italic;
}

.about-book h3, h4 {
    margin: 10px 0;
}

.about-book p {
    margin-bottom: 30px;
}

.image-of-book {
    background-color: #48502f;
}
.image-of-book img{
    width: 100%;
    opacity:0.6;
}

/* Rule for Jane Eyre image to override previous opacity rule*/
.image-of-book #jane-eyre {
    opacity: 1;
}







