@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    color: #303030;
}


/*Heading and Logo*/

header {
    margin-bottom: 50px;
}

h1, h2, h3 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #48502f;
}

#logo {
    font-size: 2.8rem;
    margin-left: 20px;
}

header a {
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin: 0 20px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

/* Rule for the right most list item so that the menu doesn't fall down to a second row on smaller screens*/
#menu .no-margin {
    margin: 0;
}

#menu a {
    text-decoration: none;
    color: #48502f;
}

#menu a:hover {
    border-top: 1px solid #48502f;
    border-bottom: 1px solid  #48502f;
}

.active {
    border-top: 1px solid  #48502f;
    border-bottom: 1px solid  #48502f;
}

/* Hero image */

#hero-image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-2.webp) no-repeat center center;
    object-fit: cover;
    margin-top: 10px;
}

/*styling classes*/

.white-text {
    color: white;
}

.green-background {
    background-color: #48502f;
}

.center-text {
    text-align: center;
}

/* About section */

#about {
    margin: 10px 15px;
    padding: 0 20px 20px 20px;
}
#book-wrapper {
width: 90%;
}

#about img {
    width: 100%;
    margin: 10px 5%;
}

.about-headings {
    text-align: center;
    padding: 10px;
}

#about p {
    margin: 0 5%;
    text-align: center;
    line-height: 20px;
}

/* Meet up */

#meet-up h2 {
    margin-top: 20px;
}

.genre {
    margin: 10px;
    padding: 20px
}


/* footer */

footer {
    height: 150px;
    background-color: #48502f;
}

#social-media {
    text-align: center;
}

#social-media > li {
    display: inline;
}

#social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

/* Books page */

#table-of-contents {
    margin: 20px 0 10px 0;
}

#table-of-contents a {
    text-decoration: none;
    color: white;
    margin-right: 7px;
}

#table-of-contents li {
    list-style-type: none;
    padding-bottom: 20px;
}

#table-of-contents a:hover {
    color: #48502f;
    background-color: white;
}

#books-information {
    clear: both;
    margin-top: 40px;
    padding: 10px 10px 10px 20px;
}

/* Generall rule for paragraphs to match first page*/

p {
    line-height: 20px;
}

/* Style rules for about book classes*/

.about-book{
    width: 90%;
    margin: 30px auto;
}

.about-book span {
    font-style: italic;
}

.about-book h3, h4 {
    margin: 10px 0;
}

.about-book p {
    margin-bottom: 30px;
}

/* Rules for styling the images on book page*/

.image-of-book {
    background-color: #48502f;
}

.image-of-book img{
    width: 100%;
    opacity:0.6;
}

/* Rule for Jane Eyre image to override previous opacity rule because it looked better without the opacity*/
.image-of-book #jane-eyre {
    opacity: 1;
}

/* Sign up page */

/* Background image*/

.form-section {
    background: url("../images/green-shelf.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

/* Sign up form */

.sign-up-form {
    margin: 150px 10% 0 0;
    color: white;
    background-color: rgba(12, 20, 12, 0.8);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.sign-up-form h2 {
    color: white;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: white;
    width: 90%;
    height: 25px;
    margin: 5px 0 0 20px;
    border: 1px solid white;
}

/* Code for mystery and classics radio buttons to get a little more space from elements around them*/

#mystery {
    margin-bottom: 10px;
}

#classics {
    margin-top: 10px;
}


