@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    /* Here, decide what color I want the text to be when decided on a color scheme*/
}


/*Heading and Logo*/

h1, h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

header {
    background-color: #48502f;
}

#logo {
    font-size: 280%;
}